:root {
  --color-gray: #d1d9e2;

  --fuente-principal: 'Arial', sans-serif;
}
#root {
  padding:0;
 min-height: 100vh;
  margin: 0 auto;
  
  text-align: center;
  width: 100vw;
  height: 100%;

background-color:  var(--color-gray);
}
main{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  padding: 50px;
}
.leaflet-container{
  width: 100%;
  height: 500px;
  max-height: 100vh;
}
.MuiGrid-container{
  align-items: center;
  justify-content: center;
  margin: 4px;

}

.MuiGrid-root{
  padding: 4px;
}
.login-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
}
.evento-page{
}



@media screen and (max-width: 599px) {
  .datagrid-content{
    width: calc(100vw - 120px);
    padding: 0;
    margin: 0;
  }
  .MuiGrid-container{
    margin: 2px;
  
  }
  
  .MuiGrid-root{
    padding: 2px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1239px) {
  .datagrid-content{
    width: calc(100vw - 140px);
    padding: 0;
    margin: 0;
  }
}
@media screen and (min-width: 1240px) {
}